@page "/fetchdata"
@attribute [Authorize]
@using YoghurtBank.Data
@using YoghurtBank.Controllers
@using YoghurtBank.Data.Model
@using System.Net.Http.Json
@inject WeatherForecastService ForecastService
@inject HttpClient Http


<PageTitle>YoghurtBank</PageTitle>


<h1>Your collaborationrequests</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
    <h1>@requests</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Application</th>
                <th>Status</th>
                <th>StudentID</th>
                <th>SupervisorID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in requests)
            {
                <tr>
                    <td>@request.Application</td>
                    <td>@request.Status</td>
                    <td>@request.StudentId</td>
                    <td>@request.SupervisorId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    private WeatherForecast[]? forecasts;
    private CollaborationRequestDetailsDTO[]? requests;

    protected override async Task OnInitializedAsync()
    {
        var cb1 = new CollaborationRequestDetailsDTO
        {
            StudentId = 1,
            SupervisorId = 2,
            Application = "Din fars bil",
            Status = CollaborationRequestStatus.Waiting
        };
        var cb2 = new CollaborationRequestDetailsDTO
        {
            StudentId = 3,
            SupervisorId = 4,
            Application = "Not Science",
            Status = CollaborationRequestStatus.Waiting
        };
        //nu virker det her, men hvorfor skal hele path på? kan man sætte en basepath et sted?
        requests = await Http.GetFromJsonAsync<CollaborationRequestDetailsDTO[]>("https://localhost:7194/api/collaborationrequest");
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
